numpy
matplotlib

jupyter_contrib_nbextensions
scipy
appmode
image
ipyvuetify
bqplot
panda
jupyter-wysiwyg
opencv-contrib-python-headless

nbconvert
nbgrader
nbtutor
rise
chardet
ipyturtle
networkx
graphviz
pygraphviz
jupyter-tabnine
pydot
nbgitpuller
pixiedust

notebook<6.0
ipython<7.0
prompt-toolkit<2.0
ipywidgets>7.0
ipyevents
scikit-learn
